@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|VT323");

.onlineUserHeader {
    color: #4dfa02;
    text-align: center;
}

.user {
    color: #4dfa02;
    text-align: center;
}