@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|VT323");

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
	height: 100%;
	height: 100vh;
	overflow: hidden;
    font-family: 'Inconsolata', 'Monaco', monospace;
}

h1 {
	font-size: 1.2em;
	margin: 0;
	text-align: center;
}

p {
    margin: 0.5em;
}

.wrap {
	height: 100%;
	height: calc(100vh - 5em);
	margin: 3em 0 0 0;
	overflow-y: scroll;
	background: #ccc;
}

.header, .footer {
	position: fixed;
	width: 100%;
	background: navy;
	color: #fff;
	text-align: center;
}

.header {
	height: 3em;
	line-height: 2.5;
	top: 0;
	left: 0;
}

.footer {
	height: 10em;
	bottom: 20px;
	left: 0;
    padding: 0 40px;
}

.main {
	display: flex;
	flex-flow: row nowrap;
	background: #ccc;
	padding: .25em .25em 5.5em;
}

.content {
	display: flex;
	flex-flow: column nowrap;
	padding: 5px;
	margin: 5px;
}

.content div {
	max-width: 65%;
	margin: 6px auto 6px 4px;
	padding: 10px;
}


form {
   height: 100%;
}

textarea {
    width: 80%;
	height: 100%;
	line-height: 1;
    color: #fff;
    resize: none;
    white-space: pre-wrap;
    border: none;
    overflow: hidden;
    background: transparent;
    display: grid;
}

button {
 position:absolute;


}




