*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Inconsolata', 'Monaco', monospace;
	overflow: hidden;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: #a0a2ae;
	background: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #000;

	background-repeat: no-repeat;
	background-position: 50% 10em;
	background-size: 75% auto;
}


/* Buttons */

.btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--search {
	font-size: 1.5em;
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}



/* Layout for console */

.console {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    align-items: flex-start;
}


/*Layout for message-container*/

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.js .message-container {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.terminal__line {
	line-height: 1.25;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
}


/*Layout for input-wrapper*/

.input-wrapper::before {
	content: '>';
}

.input-wrapper {
	display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}



.text__input {
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
}


.text__input:focus {
    outline:none;
}


.text__input {
	line-height: 1;
    color: #fff;
    width: 80%;
    height: 100px;
    resize: none;
    white-space: pre-wrap;
    border: none;
    overflow: hidden;
    background: transparent;
}

.text_input_wrapper {
	display: grid;
}

/* Links */

a,
.btn{
	text-decoration: none;
	color: #4dfa02;
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* terminal lines */

.message-container {
	line-height: 1.25;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
}

.message-container::before,
.terminal__line,
.text__input {
	font-family: 'VT323', monospace;
	font-size: 1.25em;
}

.text__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: grayscale;
}

.text__input::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: grayscale;
}

.text__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: grayscale;
}

.text__input::-webkit-search-cancel-button,
.text__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.text__input::-ms-clear {
	display: none;
}

/************************/
/* Transitions 			*/
/************************/

.js .main-wrap {
	transition: opacity 0.3s;
}

.js .main-wrap--hide {
	pointer-events: none;
	opacity: 0;
}

.js .main-wrap--move .btn--search {
	pointer-events: none;
	opacity: 0;
}

.js .console {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}

.js .message-container {
	pointer-events: auto;
	opacity: 1;
}
.js .message-container .terminal.binding .terminal__line{
	width: 200ch;
}
.js .message-container .terminal__line:first-child {
	width: 20ch;
}
.js .message-container .terminal__line:nth-child(2),
.js .message-container .terminal__line:nth-child(3) {
	width: 27ch;
}
.js .message-container .terminal__line:nth-child(4) {
	width: 28ch;
}
.js .message-container .terminal__line:nth-child(5) {
	width: 7ch;
}
.js .message-container .terminal__line:nth-child(6) {
	width: 16ch;
}
.js .message-container .terminal__line:nth-child(7) {
	width: 14ch;
}
.js .message-container .terminal__line:nth-child(8) {
	width: 19ch;
}
.js .message-container .terminal__line:nth-child(9) {
	width: 10ch;
}
.js .message-container .terminal__line:nth-child(10) {
	width: 13ch;
}
.js .message-container .terminal__line:nth-child(11) {
	width: 12ch;
}
.js .message-container .terminal__line:nth-child(12) {
	width: 45ch;
}
.js .message-container .terminal__line:nth-child(13) {
	width: 145ch;
}


.js .message-container .terminal__line {
	animation: typing 1s steps(30, end), scaleUp 0.1s forwards;
}

.js .message-container .terminal__line:first-child {
	animation-timing-function: steps(20, end), ease;
}

.js .message-container .terminal__line:nth-child(2) {
	animation-delay: 2s;
}

.js .message-container .terminal__line:nth-child(3) {
	animation-delay: 3.35s;
}

.js .message-container .terminal__line:nth-child(2),
.js .message-container .terminal__line:nth-child(3) {
	animation-duration: 1.35s, 0.1s;
	animation-timing-function: steps(27, end), ease;
}

.js .message-container .terminal__line:nth-child(4) {
	animation-duration: 1.4s, 0.1s;
	animation-timing-function: steps(28, end), ease;
	animation-delay: 6.35s;
}

.js .message-container .terminal__line:nth-child(5) {
	animation-duration: 0.35s, 0.1s;
	animation-timing-function: steps(7, end), ease;
	animation-delay: 7.75s;
}

.js .message-container .terminal__line:nth-child(6) {
	animation-duration: 0.8s, 0.1s;
	animation-timing-function: steps(16, end), ease;
	animation-delay: 8.1s;
}

.js .message-container .terminal__line:nth-child(7) {
	animation-duration: 0.7s, 0.1s;
	animation-timing-function: steps(14, end), ease;
	animation-delay: 8.9s;
}

.js .message-container .terminal__line:nth-child(8) {
	animation-duration: 0.95s, 0.1s;
	animation-timing-function: steps(19, end), ease;
	animation-delay: 9.6s;
}

.js .message-container .terminal__line:nth-child(9) {
	animation-duration: 0.5s, 0.1s;
	animation-timing-function: steps(10, end), ease;
	animation-delay: 10.55s;
}

.js .message-container .terminal__line:nth-child(10) {
	animation-duration: 0.65s, 0.1s;
	animation-timing-function: steps(13, end), ease;
	animation-delay: 11.05s;
}

.js .message-container .terminal__line:nth-child(11) {
	animation-duration: 0.6s, 0.1s;
	animation-timing-function: steps(12, end), ease;
	animation-delay: 11.7s;
}
.js .message-container .terminal__line:nth-child(12) {
	animation-duration: 0.6s, 0.1s;
	animation-timing-function: steps(12, end), ease;
	animation-delay: 12.2s;
}
.js .message-container .terminal__line:nth-child(13) {
	animation-duration: 3s, 0.1s;
	animation-timing-function: steps(190, end), ease;
	animation-delay: 13s;
}




@keyframes move {
		0% {
			right: 5000px;
		}
		30% {
			right: 2000px;
		}
		100% {
			right: 0;
	}
}
@keyframes move {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
	}
}


/* Type animation by Lea Verou http://lea.verou.me/2012/02/simpler-css-typing-animation-with-the-ch-unit/ */
@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes scaleUp {
	from {
		height: 0;
	} to {
		height: 1.5em;
	}
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transition: opacity 0.5s;
}

.message-container .btn--search-close {
	opacity: 1;
}

/* Search form with input and description */

.js .input-wrapper {
	opacity: 0;
}

.js .message-container .input-wrapper {
	opacity: 1;
	transition: opacity 0.3s 3.35s;
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
	.search {
		padding: 0.5em;
	}
}
@media screen and (max-width: 40em) {
	.search-wrap {
		font-size: 0.85em;
		position: absolute;
		top: 2.15em;
		right: 2em;
	}
	.bottom-nav {
		padding: 0.5em;
	}
	.codrops-demos {
		text-align: center;
	}
	.codrops-demos a {
		margin-bottom: 1em;
	}
	.codrops-demos span {
		display: block;
		margin: 0 auto 1em;
		text-align: center;
	}
}