<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Anonymous Random Chat</title>
    <link rel="stylesheet" href="../static/css/group.css">
</head>
<body>
<div class="wrap">
    <header class="header">
        <h1>Group# ${roomId}</h1>
    </header>
    <main class="content">
        <div class="message"></div>
    </main>
    <footer class="footer">
        <form action="#" method="post">
            <textarea placeholder="Enter text here" id="text"></textarea>
            <button type="button" id="send">send</button>
        </form>
    </footer>
</div>
<script src="../static/js/group.js"></script>
</body>
</html>