<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Anonymous Random Chat</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|VT323" rel="stylesheet">

<div class="console">
    <div class="message-container">
        <div class="message">
            <p class="terminal__line"> Welcome to the Anonymous Random Chat Site Version 1.0.0. </p></br>
            <p class="terminal__line"> Select a way to start a chat : </p></br>
            <blockquote>
                <p class="terminal__line"> <a href="./group.html">1.group</a></p></br>
                <p class="terminal__line"> <a href="./one-on-one.html">2.one-on-one</a></p></br>
            </blockquote>
            <p class="terminal__line"> Type number 1 or 2 and press ENTER to choose. </p></br>
        </div>
    </div>
    <div class="input-wrapper">
        <input class="text__input" id="text__input" name="text__input" placeholder="Enter text here" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
<script  src="../static/js/script.js"></script>

</body>
</html>