<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Anonymous Random Chat</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<header><h1>WELCOME!</h1></header>
<br>
<p class="message"> This is the Anonymous Random Chat Site Version 1.0.0. <br>
Please select a way to start a chat : </p><br>
<button type="button" onclick="location.href='./group.html'">GROUP</button>
<br>
<button type="button" onclick="location.href='./one-on-one.html'">ONE-ON-ONE</button>


</body>
</html>